apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: sparkel-pleiepenger
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  azure:
    application:
      enabled: true
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/dev/srvsparkelpleiepenge
  env:
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
  - name: KAFKA_CONSUMER_GROUP_ID
    value: sparkel-pleiepenger-v1
  - name: KAFKA_RAPID_TOPIC
    value: helse-rapid-v1
  - name: AZURE_TENANT_ID
    value: 966ac572-f5b7-4bbe-aa88-c76419c0f851
  - name: AZURE_TENANT_BASEURL
    value: https://login.microsoftonline.com
  - name: PLEIEPENGER_SCOPE
    value: api://32551525-c4dd-44ae-b906-2f8d8a00bb03/.default
  - name: PLEIEPENGER_URL
    value: http://infotrygd-grunnlag-paaroerende-sykdom.default.svc.nais.local

